---
layout: default
title: Home
---

<div class="posts">
     <div class="space"></div>

<div class="welcome-page" id="typed-strings">
    <p> <font size="25"> Hi there! <strong> Welcome to my blog </strong> </font> </p>

    <p> <font size="25"> Start from the navigation bar
    <br> to know more about me. ^1000 <br> <big> <strong> Cheers : ) </strong> </big>
    <br> <a href="https://www.doc.ic.ac.uk/~hd311/">Click here for my Imperial Homepage</a> <br>
    </font> </p>
</div>

<span id="typed"></span>

  {% for post in paginator.posts %}
  <div class="post">
   <!--  <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span> -->



   {{ post.content }}

  </div>
  {% endfor %}
</div>


<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->
